.editimages{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 658px) {
    .editimages{
        grid-template-columns:  auto auto;
    }
}

@media only screen and (min-width: 978px) {
    .editimages{
        grid-template-columns:  auto auto auto;
    }
} 

@media only screen and (min-width: 1297px) {
    .editimages{
        grid-template-columns:  auto auto auto auto;
    }
}

@media only screen and (min-width: 1680px) {
    .editimages{
        grid-template-columns:  auto auto auto auto auto;
    }
}

@media only screen and (min-width: 2020px) {
    .editimages{
        grid-template-columns:  auto auto auto auto auto auto;
    }
}