ul{
    margin-top: 0px;
    margin-left: 5.5vw;
    list-style-type: none;
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 20px;
}

li{
    width: 80vw;
    height: 30px;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 4px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,238,231,1) 0%);
}

li:hover{
    text-decoration: underline;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,243,164,1) 0%);
}